body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#game{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: rgb(189, 162, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: transparent;
    cursor: pointer;
}

.open{
    background-color: #d81515;
    color: white;
    cursor: default;
}

.success {
    background-color: rgb(226, 196, 28);
    color: white;
    cursor: default;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}